.counter {
  background: linear-gradient(45deg, #191b27, #0b1b27);
  border: 1px solid #5c98ff48;
  border-radius: 30px;
  box-sizing: border-box;
  color: #5c98ff9b;
  cursor: inherit;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 200;
  padding: 14px 26px;
}
