.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: #ffffff52;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  place-content: center;
  place-items: center;
  backdrop-filter: blur(10px) brightness(0.3) saturate(0.7);
  border-radius: 4px;
}

.content {
  max-width: 64rem;
  max-height: calc(100vh - 10rem);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .75rem;

    p {
      font-size: 1rem;
      font-family: Google Sans;
      text-align: center;
      width: fit-content;
      align-self: center;
      padding: 10px 1.25rem;
      border-radius: 20px;
      background-color: #00000045;
    }

    button {
      background-color: #00000045;
      border: 1px solid #ffffff6e;
      border-radius: 20px;
      color: #ffffffdb;
      font-family: Google Sans;
      font-size: 1rem;
      padding: 10px 1.25rem;

      &:hover {
        background-color: #ffffff0a;
        border: 1px solid #ffffffa6;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }

  img {
    max-width: 1020px;
    max-height: 680px;
    width: 100%;
  }
}
