@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/tokyo-night-dark.min.css');

.drawer {
  background-color: #0e131bd1;
  backdrop-filter: blur(4px);
  box-sizing: border-box;
  display: grid;
  gap: 2rem;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  padding: 1.25rem;
  position: fixed;
  left: 100%;
  top: 0;
  transform: translateX(0%);
  transition: all 150ms linear;
  width: 28rem;
  z-index: 4;

  &[data-targeting] {
    transform: translateX(-100%);
  }
  &--show {
    transform: translateX(-100%);
  }
  &--hide {
    transform: translateX(0%);
  }

  .component {
    border-radius: 6px;
    box-sizing: border-box;
    display: grid;
    padding: 2rem;
    place-content: center;
  }
}
