@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/tokyo-night-dark.min.css');

.drawer {
  background-color: #0e131bd1;
  backdrop-filter: blur(4px);
  box-sizing: border-box;
  display: grid;
  gap: 2rem;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  padding: 1.25rem;
  // position: fixed;
  // left: 100%;
  // top: 0;
  transform: translateX(0%);
  transition: all 150ms linear;
  width: 40vw;
  // z-index: 4;

  &[data-targeting] {
    transform: translateX(0%);
  }
  &--show {
    transform: translateX(0%);
  }
  &--hide {
    transform: translateX(100%);
  }

  .component {
    border-radius: 6px;
    box-sizing: border-box;
    display: grid;
    padding: 2rem;
    place-content: center;
  }
}

.tooltip {
  box-sizing: border-box;
  display: grid;
  gap: 2rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 18rem;
  min-width: 24rem;
  width: max-content;
  height: max-content;
  padding: 1.25rem;
  position: fixed;
  grid-template-rows: max-content max-content;
  border-radius: 8px;
  background-color: #3d87ff;
  transition: all 150ms linear;
  z-index: 4;

  .component {
    border-radius: 6px;
    box-sizing: border-box;
    display: grid;
    padding: 2rem;
    place-content: center;
  }
}
