.logo {
  background-image: url('/rosslibbycom-logo-bold-outline-no-background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  box-shadow: inset -3px 0 0 -1px #000, 1px 0 0 0px #a3caf714;
  box-shadow: 1px 0 0 0 #2d406d4d;
  height: 56px;
  transition: all 90ms linear;
  width: 64px;
}

.header {
  align-items: center;
  background-color: var(--bg-main);
  box-shadow: 0 0 0 1px #2d406d4d;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem 2rem;
  position: fixed;
  margin: 0 auto;
  top: 0;
  transition: all 120ms linear;
  width: 100%;
  z-index: 3;

  &.collapsed {
    padding: 0.5rem 2rem;
    // position: fixed;
    // top: 0;

    .logo {
      background-size: 32px;
      height: 36px;
    }
  }
}

.container {
  max-width: var(--content-width);
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  gap: 1rem;
  width: 100%;
}

@media screen and (max-with: 580px) {
  .logo {
    outline: 4px solid red;
    display: none;
  }
}


@media screen and (max-width: 580px) {
  .header {
    padding: 1.5rem 2rem;

    &.collapsed {
      padding: 1rem 2rem;
    }
  }
  .logo {
    display: none;
  }
}