.header {
  align-items: center;
  background-color: var(--bg-main);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2rem 2rem;
  position: sticky;
  margin: 0 auto;
  top: 0;
  transition: all 90ms linear;
  width: 100%;
  z-index: 3;

  &.collapsed {
    padding: 1rem 2rem;
  }
}

.container {
  max-width: var(--content-width);
  margin: 0 auto;
  width: 100%;
}
