.heading {
  color: #ffffff;
  color: var(--text-primary);
  // font-family: Helvetica Neue, sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  text-align: center;
  width: fit-content;
  letter-spacing: -0.5px;

  text-align: left;

  .noun {
    color: #4482ff;
    // letter-spacing: 1px;

    &::before {
      content: '>';
      display: inline-block;
      font-family: Courier New, Courier, monospace;
      // font-size: 24px;
      font-weight: 600;
      margin-right: 0.125rem;
      opacity: 0.375;
      transform: scaleX(0.55);
    }

    &::after {
      animation: blink 1s steps(2, start) infinite;
      content: '_';
      display: inline-block;
      font-weight: 900;
      margin-left: 0;
      opacity: 0.375;
    }
  }
}

.prerender {
  position: absolute;
  right: 100%;
  top: 100%;
  opacity: 0;
  z-index: -1;
}

@keyframes blink {
  0% {
    opacity: .375;
  }
  49% {
    opacity: .375;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: .375;
  }
}
