.viewfinder {
  --x: 0px;
  --y: 0px;
  --height: 81px;
  --width: 590px;
  --paddingY: 13px;
  --paddingX: 16px;
  --transform: none;
  --corner-animation-direction: normal;

  animation-name: reveal-viewfinder;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 30ms;
  box-sizing: content-box;

  position: absolute;
  transform: scale(1);
  z-index: 2;

  height: calc(var(--height) + calc(var(--paddingY) * 2));
  width: calc(var(--width) + calc(var(--paddingX) * 2));

  left: calc(var(--x) - var(--paddingX));
  top: calc(var(--y) - var(--paddingY));

  .corner {
    --border-color: #4482ff;
    height: 0.75rem;
    position: absolute;
    width: 0.75rem;

    &:nth-child(1) {
      animation: nw-corner 1 250ms ease-in-out var(--corner-animation-direction);
      border-left: 1px solid;
      border-top: 1px solid;
      border-color: var(--border-color);
      left: 0;
      top: 0;
    }
    &:nth-child(2) {
      animation: ne-corner 1 250ms ease-in-out var(--corner-animation-direction);
      border-right: 1px solid;
      border-top: 1px solid;
      border-color: var(--border-color);
      right: 0;
      top: 0;
    }
    &:nth-child(3) {
      animation: sw-corner 1 250ms ease-in-out var(--corner-animation-direction);
      border-bottom: 1px solid;
      border-left: 1px solid;
      border-color: var(--border-color);
      bottom: 0;
      left: 0;
    }
    &:nth-child(4) {
      animation: se-corner 1 250ms ease-in-out var(--corner-animation-direction);
      border-bottom: 1px solid;
      border-right: 1px solid;
      border-color: var(--border-color);
      bottom: 0;
      right: 0;
    }
  }

  &.targeting {
    animation: target-lock 1 500ms ease-in-out;
    background-color: #4482ff10;
    box-shadow: 0 0 0px 1px #4482ff0f inset, 0 0 0 10px #4482ff08;

    --corner-animation-direction: reverse;
  }
}

@keyframes reveal-viewfinder {
  0% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes target-lock {
  0% {
    background-color: #4482ff00;
    box-shadow: 0 0 0px 0px #4482ff0f inset, 0 0 0 0px #4482ff08;
  }
  100% {
    background-color: #4482ff10;
    box-shadow: 0 0 0px 1px #4482ff0f inset, 0 0 0 10px #4482ff08;
  }
}

@keyframes nw-corner {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-75%, -75%);
  }
}

@keyframes ne-corner {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(75%, -75%);
  }
}

@keyframes sw-corner {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-75%, 75%);
  }
}

@keyframes se-corner {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(75%, 75%);
  }
}
